numpy>=1.20.0
scipy
matplotlib
torch>=1.1.0
pytorch-msssim==0.2.0
tensorboard
tqdm
bd-metric
ptflops
wandb
compressai 
Ninja
timm
einops
seaborn
ipywidgets
psutil
torchac
datasets
huggingface_hub
kaggle